* {
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(30, 142, 194);
    color: #000;
}

p{
    font-size: 10 px;
    background-color: rgb(73, 174, 241);
}

ul{
    color: rgb(0, 0, 0);
}

ul li {
    background-color: rgb(71, 71, 221);
}

ol{
    color: rgb(0, 0, 0);
    background-color: rgb(186, 187, 188);
}

dd{
    background-color: rgb(126, 52, 195);
}
dl{
    background-color: rgb(189, 237, 100);
}