*{
    margin:0;
    padding:0;
   border: box;
}
body{
   font-family: system-ui;
    text-align: center;
    padding: 20px;
}
/*sections*/
#s1{
    
    text-align: justify;
    padding: 20px;
  border-radius: 6px;

}
#s2{

    text-align: justify;
    padding: 20px;
  border-radius: 6px;
  width: 40%;
}
#s3{
   
    text-align: justify;
    padding: 20px;
  border-radius: 6px;
  width: 40%;
}
/*centralizando*/
article{
  
    gap: 50px;
    margin-left: 7%;
    margin-top: 5%;
 
}
/*titulo*/
h2{
    margin-top: 5%;
}
.legend{
  text-align: justify;
  color: rgb(51, 51, 51);
}
#a3{
  text-align: justify;
}