*{
    margin:0;
    padding:0;
   border: box;
}
body{
   font-family: system-ui;
    text-align: center;
    padding: 20px;
}
/*sections*/
#s1{
    
    text-align: justify;
    padding: 20px;
  border-radius: 6px;

}
#s2{

    text-align: justify;
    padding: 20px;
  border-radius: 6px;
  width: 40%;
}
#s3{
   
    text-align: justify;
    padding: 20px;
  border-radius: 6px;
  width: 40%;
}
/*centralizando*/
article{
  
    gap: 50px;
    margin-left: 7%;
    margin-top: 5%;
 
}
/*titulo*/
h2{
    margin-top: 5%;
}
.legend{
  text-align: justify;
  color: rgb(51, 51, 51);
}
#a3{
  text-align: justify;
}
/* estilizacao dos depoimentos sobre a matéria */

.depoiments {
  background-color: #f5f5f5;
  padding: 20px;
  display: none;
}


.depoiments h1 {
  text-align: center;
  margin-bottom: 3rem;
  justify-content: baseline;
}

.depoiments .cards .card p {
  font-style: italic;
  font-size: 13px;
  display: flex;
  justify-content: end;
  align-items: end;
  bottom: 0;
  margin-bottom: -5px;
  margin-top: 20px;
}

.cards {
  display: flex;
  max-width: 980px;
  margin: 0 auto;
}

.cards .card {
  background-color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 30px;
  box-shadow: 6px 6px 10px #000;
  border-radius: 10px;
  width: calc(100% / 3);
}

.cards .card h3 {
  margin: 10px 0 5px 0;
}

.cards .card span {
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}

.card .user {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.stars {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  gap: 2px;
}
